/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

body {
    font-family: Oswald, sans-serif;
    background-color: #e09f7d;
    font-weight: 300;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    background: url(/css/pexels-savanna-goldring-5184327.jpg) no-repeat center;
    background-size: cover;
    height: 700px;
    position: relative;
  }

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    letter-spacing: 4px;
    margin-right: 30px;
    position: sticky;
}

/* headings and logo */

#logo {
    float: left;
    font-size: 280%;
    margin-top: 5px;
    margin-bottom: 70px;
    background-color: transparent; 

}

p {
    letter-spacing: 4px;
    font: oswald, sans-serif;

}

h1 {
    font: oswald, sans-serif;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h1 p {
    font: oswald, sans-serif;
    font-size: medium;
}

#about {
    float: left;
    letter-spacing: 4px;
    margin: 33%;
}

#timetable {
    float: center;
    letter-spacing: 4px;
    margin: 33%;
}

#signup {
    float: center;
    letter-spacing: 4px;
    margin: 33%;
}

/* footer */

footer {
    height: 150px;
    position: relative;
    bottom: auto;
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: block;
    font-size: 120%;
    letter-spacing: 4px;
}

.social-media i {
    font-size: 140%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* media queries */

/* for larger to medium screen sizes from 1200px wide and down */

/* for medium screen sizes from 950px wide and down */
