/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

body {
    font-family: Oswald, sans-serif;
    background-color: #e09f7d;
    font-weight: 300;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    letter-spacing: 4px;
    margin-right: 30px;
    position: sticky;
}

/* headings and logo */

p {
    letter-spacing: 4px;
    font: oswald, sans-serif;

}

h1 {
    font: oswald, sans-serif;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h1 p {
    font: oswald, sans-serif;
    font-size: medium;
}

#logo {
    float: left;
    font-size: 280%;
}

#about div {
    float: left;
    letter-spacing: 4px;
}

#classes div {
    float: center;
    letter-spacing: 4px;
}

#signup div {
    float: right;
    letter-spacing: 4px;
}

/* footer */

footer {
    height: 150px;
    position: relative;
    bottom: auto;
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
    font-size: 120%;
    letter-spacing: 4px;
}