/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    font-family: Oswald, sans-serif;
    background-color: #e09f7d;
    font-weight: 300;
    margin: 0;
}

body p {
    color: black;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    background: url(../images/hero-image.png) no-repeat center;
    background-size: cover;
    height: 650px;
    z-index: -1;
    position: relative;
}

/* navigation links */

body {
    margin: 0;
    padding: 0;
    color: black;
}

.form-container {
    width: 90%;
}

.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-img {
    width: 90%;
    margin: 3rem auto;
}

.logo {
    position: absolute;
    top: 06px;
    right: 15px;
    font-size: 3rem;
    margin: 1rem;
}

/* headings and logo */

#logo {
    float: right;
    font-size: 280%;
    margin-bottom: 70px;
    background-color: transparent;
    color: black;
}

p {
    letter-spacing: 4px;
    font: oswald, sans-serif;

}

h1 {
    font: oswald, sans-serif;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h1 p {
    font: oswald, sans-serif;
    font-size: medium;
}

#about {
    letter-spacing: 6px;
    margin: 7rem;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #97B1A6;
    margin-inline: 100px;
}

#about p {
    letter-spacing: 6px;
    color: #254441;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#yoga-image {
    background: url(../images/yoga-image.png) no-repeat center;
    background-size: cover;
    height: 650px;
    position: relative;
}

#timetable {

    letter-spacing: 6px;
    margin: 7rem;
    color: black;
    background-color: #97B1A6;
}

#timetable ul {
    color: #254441;
}

#timetable h2 {
    letter-spacing: 6px;
    margin: 6rem;
    color: black;
    text-align: center;

}

#yoga-class {
    background: url(../images/yoga-class.png) no-repeat center;
    background-size: cover;
    height: 650px;
    position: relative;
}

#signup {
    float: center;
    letter-spacing: 4px;
    color: black;
    margin: 7rem;
    background-color: #97B1A6;
    table-layout: fixed;
}

#signup label {

    color: #254441;

}

#signup h1 {
    text-align: center;
}

#contactus {

    letter-spacing: 6px;
    margin: 7rem;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #97B1A6;
}

#contactus ul {
    color: #254441;
}

/* footer */

footer {
    height: 150px;
    color: #254441;
    background-color: #97B1A6;
}

.social-media {
    text-align: center;
    color: #254441;
}

.social-media>li {
    display: inline;
    font-size: 120%;
    letter-spacing: 4px;
    color: #254441;
    justify-content: space-around;
    align-items: flex-end;
}

.social-media i {
    font-size: 140%;
    margin: 1%;
    padding: 5%;
    color: #254441;
    justify-content: space-around;
    align-items: flex-end;
}

/* media queries */

/* for larger to medium screen sizes from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #about {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #timetable {
        padding: 30px 0;
        margin: 0;
        text-align: center;
    }

    #logo {
        margin-bottom: 20px;
    }

    #signup {
        width: 150px;
        height: 150px;
    }

    #contactus {
        width: 150px;
        height: 150px;
    }
}

/* for medium screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {


    #about {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    #logo {
        margin-bottom: 20px;
    }

    h1 {
        width: inherit;
    }

    h2 {
        width: 100%;
        text-align: center;
    }

    p {
        text-align: center;
        padding: 0 20px;
    }

    #timetable {
        text-align: center;
    }

    #signup {
        width: 150px;
        height: 150px;
    }

    #contactus {
        width: 150px;
        height: 150px;
    }
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #e09f7d;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background-color: #e09f7d;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 80px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #e09f7d;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: #000;
      background-color: #e09f7d;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #e09f7d;
    }
  }