/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

body {
    font-family: Oswald, sans-serif;
    background-color: #e09f7d;
    font-weight: 300;
    margin: 0;
}

body p {
    color: black;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    background: url(../css/yoga-hero.jpg) no-repeat center;
    background-size: cover;
    height: 650px;
    position: relative;
  }

/* navigation links */

body {
    margin: 0;
    padding: 0;
    color: black;
  }
  
  #menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;  
    z-index: 1;  
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  
  #menuToggle a {
    text-decoration: none;
    color: black;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  
  #menuToggle a:hover {
    color: black;
  }
  
  #menuToggle input {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -7px;
    left: -5px;  
    padding: 0;
    cursor: pointer;  
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  
  #menuToggle label {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
  }
  #menuToggle label span {
    display: none;
  }
  
  #menuToggle label div {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 6px;
    position: relative;
    background: black;
    border-radius: 3px;  
    z-index: 1;  
    -webkit-transform-origin: 4px 0px;  
        -ms-transform-origin: 4px 0px;  
            transform-origin: 4px 0px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  #menuToggle label div:first-child {
    -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  
  #menuToggle label div:nth-child(2) {
      -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  
  #menuToggle input:checked + label div {
    background: #232323;
  }
  
  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    left: -100%;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease; 
  }
  
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  
  #menuToggle input:checked ~ ul {
    left: 0;
  }

/* headings and logo */

#logo {
    float: right;
    font-size: 280%;
    margin-top: 5px;
    margin-bottom: 70px;
    background-color: transparent; 
    color: black;
}

p {
    letter-spacing: 4px;
    font: oswald, sans-serif;

}

h1 {
    font: oswald, sans-serif;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h1 p {
    font: oswald, sans-serif;
    font-size: medium;
}

#about {
    letter-spacing: 4px;
    margin: 33%;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #97B1A6;
}

#about p {
    letter-spacing: 4px;
    color: #254441;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#circle-container {
    width: 500px;
    height: 500px;
    padding: 50px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('/assets/css/yoga-logo.webp') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#timetable {
    
    letter-spacing: 4px;
    margin: 33%;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #97B1A6;
}

#timetable ul {
    color: #254441;
}

#circle-container-2 {
    width: 500px;
    height: 500px;
    padding: 50px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg-2 {
    background: url('/assets/css/rock-formation.png') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#signup {
    float: center;
    letter-spacing: 4px;
    color: black;
    margin: 20%;
    background-color: #97B1A6;
}

#signup label {
    
    color: #254441;

}

#contactus {
   
    letter-spacing: 4px;
    margin: 33%;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #97B1A6;
}

#contactus ul {
    color: #254441;
}


/* footer */

footer {
    height: 150px;
    color: #254441;
}

.social-media {
    text-align: center;
    color: #254441;
}

.social-media > li {
    display: inline;
    font-size: 120%;
    letter-spacing: 4px;
    color: #254441;
}

.social-media i {
    font-size: 140%;
    margin: 1%;
    padding: 5%;
    color: #254441;
}

/* media queries */

/* for larger to medium screen sizes from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #about {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #timetable {
        padding: 30px 0;
        margin: 0;
    }

    #signup {
        width: 100%;
        float: left;
        padding: 0;
    }

    #contactus {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }
}

/* for medium screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {
    
#menu {
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
}

#about {
    width: 90%;
    height: 1200px;
    margin: 0 auto;
}

h1 {
    width: inherit;
}

h2 {
    width: 100%;
    text-align: center;
}

p {
    text-align: center;
    padding: 0 20px;
}
}