/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

body {
    font-family: Oswald, sans-serif;
    background-color: #e09f7d;
    font-weight: 300;
    margin: 0;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    background: url(../css/yoga-hero.jpg) no-repeat center;
    background-size: cover;
    height: 650px;
    position: relative;
  }

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    color: white;
}

#menu li {
    float: right;
    letter-spacing: 4px;
    margin-right: 30px;
    position: sticky;
    color: white;
}

/* headings and logo */

#logo {
    float: left;
    font-size: 280%;
    margin-top: 5px;
    margin-bottom: 70px;
    background-color: transparent; 
    color: white;
}

p {
    letter-spacing: 4px;
    font: oswald, sans-serif;

}

h1 {
    font: oswald, sans-serif;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h1 p {
    font: oswald, sans-serif;
    font-size: medium;
}

#about {
    letter-spacing: 4px;
    margin: 33%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #97B1A6;
}

#about p {
    letter-spacing: 4px;
    color: #254441;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#timetable {
    
    letter-spacing: 4px;
    margin: 33%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #97B1A6;
}

#timetable ul {
    color: #254441;
}

#signup {
    float: center;
    letter-spacing: 4px;
    color: white; 
    margin: 20%;
    background-color: #97B1A6;
}

#signup label {
    
    color: #254441;

}

#contactus {
   
    letter-spacing: 4px;
    margin: 33%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #97B1A6;
}

#contactus ul {
    color: #254441;
}


/* footer */

footer {
    height: 150px;
    color: #254441;
}

.social-media {
    text-align: center;
    color: #254441;
}

.social-media > li {
    display: inline;
    font-size: 120%;
    letter-spacing: 4px;
    color: #254441;
}

.social-media i {
    font-size: 140%;
    margin: 1%;
    padding: 5%;
    color: #254441;
}

/* media queries */

/* for larger to medium screen sizes from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #about {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #timetable {
        padding: 30px 0;
        margin: 0;
    }

    #signup {
        width: 100%;
        float: left;
        padding: 0;
    }

    #contactus {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }
}

/* for medium screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {
    
#menu {
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
}

#about {
    width: 90%;
    height: 1200px;
    margin: 0 auto;
}

h1 {
    width: inherit;
}

h2 {
    width: 100%;
    text-align: center;
}

p {
    text-align: center;
    padding: 0 20px;
}
}